
header {
  background: #5452ff;
  border: 4px solid black;
  padding: 10px;
} 

#header {
  color: #ff6726;
  text-align:center;  
}

.text
{
  color: red;
}

#fon {
  background: #06d4bc;
  border: 4px solid #f20a0a;
  padding: 10px;
} 

footer[title] {
  background: #d8e522;
  border: 4px solid #00ff1e;
  padding: 10px;
} 

h1,h2 {
  color: red;
}

.title__text + .desc__text{
  color: red;
}

.title__text ~ span{
  color:green;
}
.excerpt > li {
  color: red;
}
#fon span {
  color: purple;
}